# Getting and Cleaning Oklahoma Production Data

<!--PELICAN_BEGIN_SUMMARY-->

follow the principles of tidy data in Jeff Leek's [guide to data sharing](https://github.com/jtleek/datasharing).

Hadley Wickham's principles of [Tidy Data](http://vita.had.co.nz/papers/tidy-data.pdf)

In part 1, we're going to obtain the raw data from OCC.  Examine the contents of the archive, look at the different files types.

Combine the raw data into a single combined file that we'll use to create tidy datasets of production information (and well location, maybe).

<!-- PELICAN_END_SUMMARY -->

## The Raw Data

### another title

downloading the file from the [Oklahoma Corporation Commission](http://www.occeweb.com/og/ogdatafiles2.htm) website.  We will download the `Historical.zip` file, which is stated to contain:

```Oil/Gas Production Historical Records includes All Production Available from 1987 to 2012 Vertical Bar Delimited```.

File is almost 80 MB.

Extract the zip archive to `data/historical/`.

In [1]:
import pandas as pd
import numpy as np

pd.options.display.max_rows = 10

data_dir = 'data/historical/'

In [ ]:
import urllib
urllib.urlretrieve ('ftp://ftp.occ.state.ok.us/OG_DATA/historical.ZIP', 'data/historical.zip')

# For Python 3, try:
# import urllib.request 
# urllib.request.urlretrieve(url, filename)

import zipfile
zip_ref = zipfile.ZipFile('data/historical.zip', 'r')
zip_ref.extractall(data_dir)
zip_ref.close()

Take a look at dir contents

In [2]:
import os
os.listdir('data/historical/')

['1987prodn.txt',
 '1988prodn.txt',
 '1989prodn.txt',
 '1990prodn.txt',
 '1991prodn.txt',
 '1992prodn.txt',
 '1993prodn.txt',
 '1994PRODN.TXT',
 '1995prodn.txt',
 '1996prodn.txt',
 '1997prodn.txt',
 '1998prodn.txt',
 '1999prodn.txt',
 '2000prodn.txt',
 '2001prodn.txt',
 '2002prodn.txt',
 '2003PRODN.TXT',
 '2004PRODN.TXT',
 '2005PRODN.TXT',
 '2006prodn.txt',
 '2007PRODN.TXT',
 '2008PRODN.TXT',
 '2009PRODN.txt',
 '2010 rbdms extract2013.txt',
 '2010PRODN.txt',
 '2011 rbdms extract2013.txt',
 '2011PRODN.txt',
 '2012PRODN.txt',
 '2013prodn.txt',
 '2014prodn.txt',
 '2015prodn.txt']

Production from 1987 to 2015.  We have re-extracted data from 2010 and 2011.  Why?

Look at contents of early files.

In [3]:
def show_file(filename, nrows):
    from itertools import islice
    with open(filename) as f:
        for line in islice(f, nrows):
            print line

show_file("data/historical/1987prodn.txt", 5)

API_COUNTY|API_NUMBER|SUFFIX|WELL_NAME                     |WELL_NO|  OPER_NO|OPER_SUFFIX|OPERATOR                                |ME|  SECTION|TWP|RAN|Q4|Q3|Q2|Q1| LATITUDE|LONGITUDE|OTC_COUNTY|OTC_LEASE_NO|OTC_SUB_NO|OTC_MERGE|  POOL_NO|CODE    |FORMATION                               |OFB|ALLOWABLE_CLASS|ALLOWABLE_TYPE| PURCH_NO|PURCHASER                               |PURCH_SUFFIX|OFB|     YEAR|      JAN|      OIL|      GAS|      FEB|      OIL|      GAS|      MAR|      OIL|      GAS|      APR|      OIL|      GAS|      MAY|      OIL|      GAS|      JUN|      OIL|      GAS|      JUL|      OIL|      GAS|      AUG|      OIL|      GAS|      SEP|      OIL|      GAS|      OCT|      OIL|      GAS|      NOV|      OIL|      GAS|      DEC|      OIL|      GAS

----------|----------|------|------------------------------|-------|---------|-----------|----------------------------------------|--|---------|---|---|--|--|--|--|---------|---------|----------|------------|----------|---------|---------|--------|----------------------------------------|---|---------------|--------------|---------|----------------------------------------|------------|---|---------|---------|---------|---------|---------|---------|---------|---------|---------|---------|---------|---------|---------|---------|---------|---------|---------|---------|---------|---------|---------|---------|---------|---------|---------|---------|---------|---------|---------|---------|---------|---------|---------|---------|---------|---------|---------

         3|     20404|      |SMITH                         | 1     |    17441|          0|CHESAPEAKE OPERATING INC                |IM|       19|24N|12W|  |  |NW|SE| 36.54099|-98.52307|         3|       48518|         0|        0|         |000UNKN |UNKNOWN FORMATION                       |Y  |               |              |     6332|MID PLAINS PETROLEUM COMPANY            |           0|N  |     1987|        1|         |         |        2|         |         |        3|         |         |        4|         |         |        5|         |         |        6|         |         |        7|         |         |        8|         |         |        9|         |         |       10|         |         |       11|      177|         |       12|      162|

         7|        25|      |E E EVANS                     | 1     |     5415|          0|SAMSON RESOURCES COMPANY                |CM|        8|05N|25E|  |  |NE|SW|36.912313|-100.3791|         7|       28830|         0|        0|         |402MWCR |MORROW-CHESTER                          |N  |UG             |S             |      458|COLORADO INTERSTATE GAS CO              |           0|N  |     1987|        1|         |         |        2|         |         |        3|         |         |        4|         |         |        5|         |         |        6|         |         |        7|         |         |        8|         |         |        9|         |    15271|       10|         |      182|       11|         |     8388|       12|         |    10850

Explain this file format. 69 column types, storing all different kinds of data.  Many not used.  Rich data set, but could certainly use a bit of tidying.

Look at more recent files:

In [4]:
show_file("data/historical/2015prodn.txt", 5)

API_COUNTY|API_NUMBER|S|WELL_NAME|WELL_NO|OPER_NO|OPERATOR|ME|SECTION|TWP|RAN|Q4|Q3|Q2|Q1|LATITUDE|LONGITUDE|OTC_COUNTY|OTC_LEASE_NO|OTC_SUB_NO|OTC_MERGE|POOL_NO|CODE|FORMATION|OFB|ALLOWABLE_CLASS|ALLOWABLE_TYPE|PURCH_NO|PURCHASER|YEAR|JAN|OIL|GAS|FEB|OIL|GAS|MAR|OIL|GAS|APR|OIL|GAS|MAY|OIL|GAS|JUN|OIL|GAS|JUL|OIL|GAS|AUG|OIL|GAS|SEP|OIL|GAS|OCT|OIL|GAS|NOV|OIL|GAS|DEC|OIL|GAS

003|00001||KIRCHER                       |     1|4030|CHAMPLIN EXPLORATION INC|INDIAN|4|27N|11W|||CNE4|NW4|36.8532|-98.3895|003|||||351MISS|MISSISSIPPI||||||2015|1||0|2||12|3||0|4||0|5|||6|||7|||8|||9|||10|||11|||12||

003|00025||HAGUE                         |     1|19694|BVD INC|Indian|22|27N|11W|    |    |CSE4|SE4 |36.7989|-98.3624|003|||||404CHRK|CHEROKEE||||||2015|1||81|2||69|3||60|4||38|5||42|6||45|7||36|8||32|9||31|10||39|11||37|12||45

003|00068||ADAMS   "A"                   |1-3   |17441|CHESAPEAKE OPERATING LLC|Indian|3|25N|10W|    |    |SW4 |SW4 |36.6683|-98.2678|003|||||404OSWGU|OSWEGO UP||||||2015|1||0|2||0|3||0|4||0|5||0|6||0|7||0|8||0|9||0|10||0|11||0|12||

003|00071||NEWLIN                        |     1|7775|COMBINED RESOURCES CORPORATION|Indian|19|25N|12W|    |    |CSW4|SE4 |36.6247|-98.5292|003|||||404CHRK|CHEROKEE||||||2015|1||1395|2||876|3||1588|4||1351|5||1378|6||1484|7||1504|8||1351|9||1089|10||1089|11||873|12||512

Discuss this file format.

American Petroleum Institute defines an API well number.  Details on this can be found on [wikipedia](https://en.wikipedia.org/wiki/API_well_number), DrillingInfo also has a nice [summary](https://info.drillinginfo.com/api-number-dead-long-live-us-well-number/). 
First ten digits give the well's surface locatin.

First two digits are the State Code. 35 for OK.

Next three digits are the County Code.  API_COUNTY field.

Next five digits are the Unique Well Identifier.  API_Number field.

Next two digits (digits 11 and 12) are the Directional Sidetrack Codes.
No official standard for final two, other than being reserved for Event Sequence Codes.

In [8]:
#generate a list of years that will be used to form filenames
years = np.arange(1988, 2016, 1)

#list to track the dataframes from each year that will be 
#concatenated after processing
annual_data = {}

for year in years:
    
    #data for 1994 is missing, so ignore this year
    if (year == 1994):
        continue
    
    filename = data_dir + str(year)+'prodn.txt'
    print('Reading %s'%filename)
    
    #the file format is different for years 2008 and before
    #so these files need to be handled differently
    #
    #there are 6 lines in years between 1990 and 1995 that have
    #an extra field.  This could be due to an extra delimiter
    #'|' in the line.  These are ignored.
    if year <= 2008:
        data = pd.read_csv(filename, sep="|", engine='c', 
                        doublequote=False,error_bad_lines=False,
                        low_memory=False)
        
        #remove the first row with ------
        data = data.ix[1:]
        
        #remove the whitespace from the column names
        data = data.rename(columns=lambda x: x.strip())
        
        #these columns don't appear in the later years, so drop
        #them now for consistency
        data.drop(['PURCH_SUFFIX', 'OPER_SUFFIX', 'OFB.1'], axis=1, 
                inplace=True)
                
        #the last Gas column for December will be incorrectly
        #named because of whitespace.  Rename it manually now
        data.columns.values[-1] = 'GAS.11'
    else:
        #the files for 2009 and later are much cleaner and 
        #require less processing
        
        #Sometimes there is an extra line at the top at the file
        # that contains the string 'ExtractRecord'.  If this 
        # is the case, ignore the first line
        with open(filename, 'r') as f:
            first_line = f.readline()
        if 'API_NUMBER' not in first_line:
            data = pd.read_csv(filename, sep="|", engine='c', 
            doublequote=False,error_bad_lines=False, skiprows=1)
        else:
            data = pd.read_csv(filename, sep="|", engine='c', 
                        doublequote=False,error_bad_lines=False)

    # remove any entries that don't have a valid well number
    # some files (like 2004 & 2005) have a row with 
    # '39949 rows selected.' at the bottom.  Most of this row
    # will have NaN values, and will cause problems.  Remove
    # them.
    data = data[pd.notnull(data['API_NUMBER'])]
    
    annual_data[year] = data

Reading data/historical/1988prodn.txt
Reading data/historical/1989prodn.txt
Reading data/historical/1990prodn.txt

Skipping line 19661: expected 69 fields, saw 70
Skipping line 19662: expected 69 fields, saw 70

Reading data/historical/1991prodn.txt

Skipping line 20832: expected 69 fields, saw 70

Reading data/historical/1992prodn.txt

Skipping line 17081: expected 69 fields, saw 70

Reading data/historical/1993prodn.txt

Skipping line 11718: expected 69 fields, saw 70

Reading data/historical/1995prodn.txt

Skipping line 23792: expected 69 fields, saw 70

Reading data/historical/1996prodn.txt
Reading data/historical/1997prodn.txt
Reading data/historical/1998prodn.txt
Reading data/historical/1999prodn.txt
Reading data/historical/2000prodn.txt
Reading data/historical/2001prodn.txt
Reading data/historical/2002prodn.txt
Reading data/historical/2003prodn.txt
Reading data/historical/2004prodn.txt
Reading data/historical/2005prodn.txt
Reading data/historical/2006prodn.txt
Reading data/historical/2007prodn.txt
Reading data/historical/2008prodn.txt
Reading data/historical/2009prodn.txt
Reading data/historical/2010prodn.txt
Reading data/historical/2011prodn.txt
Reading data/historical/2012prodn.txt
Reading data/historical/2013prodn.txt
Reading data/historical/2014prodn.txt
Reading data/historical/2015prodn.txt

In [37]:
data = pd.concat(annual_data)

In [33]:
#Form the full unique API number by concatenating the 
# Okalhoma state code '35' with the API_COUNTY and 
# API_NUMBER fields
data['API_NUMBER'] = data['API_NUMBER'].astype(int, raise_on_error=True).apply(lambda x: '{0:0>5}'.format(x))
data['API_COUNTY'] = data['API_COUNTY'].astype(int, raise_on_error=True).apply(lambda x: '{0:0>3}'.format(x))
data['ENTITY_ID'] = '35'+data['API_COUNTY']+data['API_NUMBER']+'0000'

prod_data = data[['GAS', 'OIL', 'GAS.1', 'OIL.1', 'GAS.2', 
             'OIL.2', 'GAS.3', 'OIL.3', 'GAS.4', 'OIL.4',
             'GAS.5', 'OIL.5', 'GAS.6', 'OIL.6', 'GAS.7', 
             'OIL.7', 'GAS.8', 'OIL.8', 'GAS.9', 'OIL.9',
             'GAS.10', 'OIL.10', 'GAS.11', 'OIL.11',
             'ENTITY_ID', 'YEAR']]

#data.apply(pd.to_numeric, errors='ignore')
#convert the data type of all OIL and GAS columns to numeric
for col_name in list(prod_data.columns.values):
    if ('GAS' in col_name) or ('OIL' in col_name):
        prod_data[col_name] = pd.to_numeric(prod_data[col_name], errors='coerce')

#rename the oil and gas montly totals to something more
#descriptive
prod_data.rename(columns={'GAS': 'GAS - January',
                     'OIL': 'OIL - January',
                     'GAS.1': 'GAS - February',
                     'OIL.1': 'OIL - February',
                     'GAS.2': 'GAS - March',
                     'OIL.2': 'OIL - March',
                     'GAS.3': 'GAS - April ',
                     'OIL.3': 'OIL - April',
                     'GAS.4': 'GAS - May',
                     'OIL.4': 'OIL - May',
                     'GAS.5': 'GAS - June',
                     'OIL.5': 'OIL - June',
                     'GAS.6': 'GAS - July',
                     'OIL.6': 'OIL - July',
                     'GAS.7': 'GAS - August',
                     'OIL.7': 'OIL - August',
                     'GAS.8': 'GAS - September',
                     'OIL.8': 'OIL - September',
                     'GAS.9': 'GAS - October',
                     'OIL.9': 'OIL - October',
                     'GAS.10': 'GAS - November',
                     'OIL.10': 'OIL - November',
                     'GAS.11': 'GAS - December',
                     'OIL.11': 'OIL - December',
                     }, inplace=True)

#some entity id's have multiple entries.  I do not know 
#why this is.  it appears like they might be the production
#attributed to different owners. try summing the production
#for now...
prod_data = prod_data.groupby(by=['ENTITY_ID','YEAR']).sum()
prod_data.reset_index(inplace=True)

/Users/bhall/Library/Enthought/Canopy_64bit/User/lib/python2.7/site-packages/ipykernel/__main__.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [34]:
prod_data

,ENTITY_ID,YEAR,GAS - January,OIL - January,GAS - February,OIL - February,GAS - March,OIL - March,GAS - April,OIL - April,...,GAS - August,OIL - August,GAS - September,OIL - September,GAS - October,OIL - October,GAS - November,OIL - November,GAS - December,OIL - December
0,35003000010000,2009,1312.0,NaN,957.0,NaN,1242.0,NaN,1165.0,NaN,...,1091.0,NaN,1033.0,NaN,931.0,NaN,993.0,NaN,1264.0,NaN
1,35003000010000,2010,NaN,NaN,NaN,NaN,1133.0,NaN,939.0,NaN,...,673.0,NaN,823.0,NaN,871.0,NaN,906.0,NaN,878.0,NaN
2,35003000010000,2011,873.0,NaN,809.0,NaN,936.0,NaN,946.0,NaN,...,892.0,NaN,772.0,NaN,725.0,NaN,851.0,NaN,713.0,NaN
3,35003000010000,2012,829.0,NaN,766.0,NaN,491.0,NaN,564.0,NaN,...,668.0,NaN,695.0,NaN,609.0,NaN,539.0,NaN,351.0,NaN
4,35003000010000,2013,822.0,NaN,379.0,NaN,361.0,NaN,318.0,NaN,...,626.0,NaN,486.0,NaN,808.0,NaN,644.0,NaN,493.0,NaN
5,35003000010000,2014,516.0,NaN,584.0,NaN,400.0,NaN,596.0,NaN,...,591.0,NaN,719.0,NaN,751.0,NaN,635.0,NaN,388.0,NaN
6,35003000010000,2015,0.0,NaN,12.0,NaN,0.0,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,35003000010000,2001,2477.0,NaN,2236.0,NaN,2484.0,NaN,2389.0,NaN,...,2378.0,NaN,2123.0,NaN,2514.0,NaN,2087.0,NaN,2303.0,NaN
8,35003000010000,2002,2450.0,NaN,2073.0,NaN,2320.0,NaN,2121.0,NaN,...,1574.0,NaN,2270.0,NaN,2264.0,NaN,2097.0,NaN,2173.0,NaN
9,35003000010000,2003,2531.0,NaN,1889.0,NaN,2186.0,NaN,2072.0,NaN,...,1997.0,NaN,2094.0,NaN,2237.0,NaN,2118.0,NaN,2316.0,NaN
10,35003000010000,2004,2118.0,NaN,2045.0,NaN,2035.0,NaN,2058.0,NaN,...,1864.0,NaN,1841.0,NaN,1857.0,NaN,1236.0,NaN,2235.0,NaN
11,35003000010000,2005,1950.0,NaN,1589.0,NaN,1842.0,NaN,1724.0,NaN,...,1702.0,NaN,1484.0,NaN,1626.0,NaN,1730.0,NaN,1342.0,NaN
12,35003000010000,2006,1442.0,NaN,1241.0,NaN,1114.0,NaN,1894.0,NaN,...,1886.0,NaN,1810.0,NaN,1970.0,NaN,1933.0,NaN,1961.0,NaN
13,35003000010000,2007,1945.0,NaN,1754.0,NaN,1843.0,NaN,1775.0,NaN,...,1574.0,NaN,1539.0,NaN,1461.0,NaN,1653.0,NaN,1678.0,NaN
14,35003000010000,2008,1569.0,NaN,1548.0,NaN,1403.0,NaN,1265.0,NaN,...,1177.0,NaN,1203.0,NaN,1130.0,NaN,1114.0,NaN,1173.0,NaN
15,35003000120000,1990,NaN,NaN,140.0,NaN,154.0,NaN,110.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,35003000250000,2009,31.0,NaN,19.0,NaN,24.0,NaN,30.0,NaN,...,59.0,NaN,54.0,NaN,40.0,NaN,42.0,NaN,31.0,NaN
17,35003000250000,2010,NaN,NaN,NaN,NaN,18.0,NaN,31.0,NaN,...,55.0,NaN,48.0,NaN,79.0,NaN,64.0,NaN,59.0,NaN
18,35003000250000,2011,70.0,NaN,55.0,NaN,51.0,NaN,43.0,NaN,...,42.0,NaN,52.0,NaN,53.0,NaN,38.0,NaN,46.0,NaN
19,35003000250000,2012,50.0,NaN,85.0,NaN,111.0,NaN,125.0,NaN,...,102.0,NaN,52.0,NaN,34.0,NaN,25.0,NaN,29.0,NaN
20,35003000250000,2013,24.0,NaN,35.0,NaN,42.0,NaN,41.0,NaN,...,66.0,NaN,65.0,NaN,73.0,NaN,76.0,NaN,81.0,NaN
21,35003000250000,2014,60.0,NaN,164.0,NaN,135.0,NaN,160.0,NaN,...,89.0,NaN,79.0,NaN,66.0,NaN,67.0,NaN,72.0,NaN
22,35003000250000,2015,81.0,NaN,69.0,NaN,60.0,NaN,38.0,NaN,...,32.0,NaN,31.0,NaN,39.0,NaN,37.0,NaN,45.0,NaN
23,35003000250000,1990,995.0,NaN,699.0,NaN,614.0,NaN,NaN,NaN,...,396.0,NaN,425.0,NaN,NaN,NaN,583.0,NaN,923.0,NaN
24,35003000250000,1991,1086.0,NaN,1016.0,NaN,1140.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,35003000250000,1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,138.0,NaN,NaN,NaN,NaN,NaN
26,35003000250000,1995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,35003000250000,1998,105.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,691.0,NaN,566.0,NaN,564.0,NaN,286.0,NaN,NaN,NaN
28,35003000250000,1999,195.0,NaN,168.0,NaN,158.0,NaN,133.0,NaN,...,184.0,NaN,149.0,NaN,171.0,NaN,148.0,NaN,279.0,NaN
29,35003000250000,2000,301.0,NaN,212.0,NaN,169.0,NaN,158.0,NaN,...,131.0,NaN,129.0,NaN,155.0,NaN,145.0,NaN,142.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
780296,35153500060000,1990,318.0,NaN,311.0,NaN,31.0,NaN,351.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
780297,35153500090000,2009,1038.0,NaN,1037.0,NaN,1118.0,NaN,1091.0,NaN,...,1113.0,NaN,1097.0,NaN,1089.0,NaN,999.0,NaN,960.0,NaN
780298,35153500090000,2010,921.0,NaN,980.0,NaN,947.0,NaN,921.0,NaN,...,947.0,NaN,921.0,NaN,921.0,NaN,1022.0,NaN,1752.0,NaN
780299,35153500090000,2011,921.0,NaN,952.0,NaN,982.0,NaN,921.0,NaN,...,921.0,NaN,962.0,NaN,963.0,NaN,911.0,NaN,921.0,NaN
780300,35153500090000,2013,2250.0,NaN,0.0,NaN,628.0,NaN,953.0,NaN,...,994.0,NaN,963.0,NaN,965.0,NaN,927.0,NaN,885.0,NaN
780301,35153500090000,2014,857.0,NaN,895.0,NaN,964.0,NaN,923.0,NaN,...,973.0,NaN,919.0,NaN,921.0,NaN,878.0,NaN,747.0,NaN
780302,35153500090000,2015,725.0,NaN,827.0,NaN,922.0,NaN,814.0,NaN,...,914.0,NaN,778.0,NaN,953.0,NaN,883.0,NaN,876.0,NaN
780303,35153500090000,1988,NaN,NaN,NaN,NaN,NaN,NaN,7077.0,NaN,...,5435.0,NaN,6234.0,NaN,4768.0,NaN,5816.0,NaN,3122.0,NaN
780304,35153500090000,1989,5192.0,NaN,5125.0,NaN,10503.0,NaN,4855.0,NaN,...,5315.0,NaN,3583.0,NaN,4053.0,NaN,3487.0,NaN,3274.0,NaN
780305,35153500090000,1990,5286.0,NaN,4192.0,NaN,4352.0,NaN,3981.0,NaN,...,4598.0,NaN,754.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
780306,35153500090000,1999,1527.0,NaN,993.0,NaN,1751.0,NaN,2216.0,NaN,...,2311.0,NaN,1590.0,NaN,1902.0,NaN,1668.0,NaN,1329.0,NaN
780307,35153500090000,2000,1828.0,NaN,1431.0,NaN,1754.0,NaN,1849.0,NaN,...,233.0,NaN,1999.0,NaN,1475.0,NaN,1154.0,NaN,600.0,NaN
780308,35153500090000,2001,447.0,NaN,723.0,NaN,1911.0,NaN,1729.0,NaN,...,1794.0,NaN,1676.0,NaN,1416.0,NaN,1083.0,NaN,1274.0,NaN
780309,35153500090000,2002,860.0,NaN,1330.0,NaN,1399.0,NaN,1351.0,NaN,...,1358.0,NaN,1335.0,NaN,1546.0,NaN,1157.0,NaN,1118.0,NaN
780310,35153500090000,2003,727.0,NaN,892.0,NaN,971.0,NaN,1632.0,NaN,...,1329.0,NaN,1560.0,NaN,1579.0,NaN,1453.0,NaN,1246.0,NaN
780311,35153500090000,2004,1489.0,NaN,1280.0,NaN,1363.0,NaN,1536.0,NaN,...,1127.0,NaN,1273.0,NaN,1136.0,NaN,1264.0,NaN,1130.0,NaN
780312,35153500090000,2005,1103.0,NaN,1510.0,NaN,1333.0,NaN,1390.0,NaN,...,1466.0,NaN,880.0,NaN,967.0,NaN,858.0,NaN,1168.0,NaN
780313,35153500090000,2006,1290.0,NaN,1054.0,NaN,1373.0,NaN,1435.0,NaN,...,1420.0,NaN,1349.0,NaN,1111.0,NaN,1402.0,NaN,1280.0,NaN
780314,35153500090000,2007,1110.0,NaN,972.0,NaN,1203.0,NaN,1163.0,NaN,...,1224.0,NaN,1129.0,NaN,1146.0,NaN,1053.0,NaN,786.0,NaN
780315,35153500090000,2008,1119.0,NaN,1119.0,NaN,1204.0,NaN,1153.0,NaN,...,1201.0,NaN,1098.0,NaN,1135.0,NaN,1098.0,NaN,1080.0,NaN
780316,35153500150000,1990,NaN,NaN,NaN,NaN,3598.0,NaN,4412.0,NaN,...,6791.0,NaN,NaN,NaN,NaN,NaN,3332.0,NaN,4288.0,NaN
780317,35153500150000,1991,4746.0,NaN,6282.0,NaN,NaN,NaN,NaN,NaN,...,4378.0,NaN,5923.0,NaN,5734.0,1765.0,NaN,905.0,3152.0,NaN
780318,35153500150000,1992,2213.0,1589.0,NaN,1390.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
780319,35153500150000,1993,NaN,NaN,NaN,NaN,NaN,NaN,3962.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
780320,35153500150000,1995,6122.0,NaN,5903.0,NaN,3822.0,NaN,NaN,NaN,...,5465.0,NaN,5158.0,NaN,NaN,NaN,3461.0,NaN,5118.0,NaN
780321,35153500150000,1996,2284.0,NaN,2556.0,NaN,4238.0,NaN,4564.0,NaN,...,5473.0,NaN,4444.0,NaN,5059.0,NaN,1091.0,NaN,2059.0,NaN
780322,35153500150000,1997,2433.0,NaN,4552.0,NaN,3950.0,NaN,3095.0,NaN,...,7045.0,NaN,8017.0,NaN,7692.0,NaN,5397.0,NaN,5507.0,NaN
780323,35153500150000,1998,5989.0,NaN,3941.0,NaN,4342.0,NaN,5967.0,NaN,...,6189.0,NaN,4908.0,NaN,5642.0,NaN,3136.0,NaN,4873.0,NaN
780324,35153500150000,1999,5725.0,NaN,4127.0,NaN,4321.0,NaN,4919.0,NaN,...,5196.0,NaN,5391.0,NaN,5612.0,NaN,5478.0,NaN,3908.0,NaN
780325,35153500150000,2000,4464.0,NaN,3908.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1]:
#now clean the formation string.  These tend to have 
#extraneous whitespace
def clean_text_data(in_string):

    out_string = str(in_string).strip()
    return " ".join(out_string.split())

#data["FORMATION"] = data["FORMATION"].astype(str) 
data["FORMATION"] = data["FORMATION"].apply(clean_text_data)
data["WELL_NAME"] = data["WELL_NAME"].apply(clean_text_data)
data["OPERATOR"] = data["OPERATOR"].apply(clean_text_data)
data["PURCHASER"] = data["PURCHASER"].apply(clean_text_data)
data

NameError: name 'data' is not defined

In [44]:
data.columns

Index([u'ALLOWABLE_CLASS', u'ALLOWABLE_TYPE', u'API_COUNTY', u'API_NUMBER',
       u'APR', u'AUG', u'CODE', u'DEC', u'ENTITY_ID', u'FEB', u'FORMATION',
       u'GAS', u'GAS.1', u'GAS.10', u'GAS.11', u'GAS.2', u'GAS.3', u'GAS.4',
       u'GAS.5', u'GAS.6', u'GAS.7', u'GAS.8', u'GAS.9', u'JAN', u'JUL',
       u'JUN', u'LATITUDE', u'LONGITUDE', u'MAR', u'MAY', u'ME', u'NOV',
       u'OCT', u'OFB', u'OIL', u'OIL.1', u'OIL.10', u'OIL.11', u'OIL.2',
       u'OIL.3', u'OIL.4', u'OIL.5', u'OIL.6', u'OIL.7', u'OIL.8', u'OIL.9',
       u'OPERATOR', u'OPER_NO', u'OTC_COUNTY', u'OTC_LEASE_NO', u'OTC_MERGE',
       u'OTC_SUB_NO', u'POOL_NO', u'PURCHASER', u'PURCH_NO', u'Q1', u'Q2',
       u'Q3', u'Q4', u'RAN', u'S', u'SECTION', u'SEP', u'SUFFIX', u'TWP',
       u'WELL_NAME', u'WELL_NO', u'YEAR'],
      dtype='object')

In [45]:
columns_to_keep = ['ENTITY_ID', 'FORMATION', 'LATITUDE', 'LONGITUDE', 'OPERATOR', 'WELL_NAME', 'PURCHASER']

In [30]:
annual_production_data = {}
annual_meta_data = {}

for year in annual_data:
    print('Cleaning %d data...'%year)
    data = annual_data[year]

    
    #Form the full unique API number by concatenating the 
    # Okalhoma state code '35' with the API_COUNTY and 
    # API_NUMBER fields
    data['API_NUMBER'] = data['API_NUMBER'].astype(int, raise_on_error=True).apply(lambda x: '{0:0>5}'.format(x))
    data['API_COUNTY'] = data['API_COUNTY'].astype(int, raise_on_error=True).apply(lambda x: '{0:0>3}'.format(x))
    data['ENTITY_ID'] = '35'+data['API_COUNTY']+data['API_NUMBER']+'0000'
    
    prod_data = data[['GAS', 'OIL', 'GAS.1', 'OIL.1', 'GAS.2', 
                 'OIL.2', 'GAS.3', 'OIL.3', 'GAS.4', 'OIL.4',
                 'GAS.5', 'OIL.5', 'GAS.6', 'OIL.6', 'GAS.7', 
                 'OIL.7', 'GAS.8', 'OIL.8', 'GAS.9', 'OIL.9',
                 'GAS.10', 'OIL.10', 'GAS.11', 'OIL.11',
                 'ENTITY_ID', 'YEAR']]

    #data.apply(pd.to_numeric, errors='ignore')
    #convert the data type of all OIL and GAS columns to numeric
    for col_name in list(prod_data.columns.values):
        if ('GAS' in col_name) or ('OIL' in col_name):
            prod_data[col_name] = pd.to_numeric(prod_data[col_name], errors='coerce')
    
    #rename the oil and gas montly totals to something more
    #descriptive
    prod_data.rename(columns={'GAS': 'GAS - January',
                         'OIL': 'OIL - January',
                         'GAS.1': 'GAS - February',
                         'OIL.1': 'OIL - February',
                         'GAS.2': 'GAS - March',
                         'OIL.2': 'OIL - March',
                         'GAS.3': 'GAS - April ',
                         'OIL.3': 'OIL - April',
                         'GAS.4': 'GAS - May',
                         'OIL.4': 'OIL - May',
                         'GAS.5': 'GAS - June',
                         'OIL.5': 'OIL - June',
                         'GAS.6': 'GAS - July',
                         'OIL.6': 'OIL - July',
                         'GAS.7': 'GAS - August',
                         'OIL.7': 'OIL - August',
                         'GAS.8': 'GAS - September',
                         'OIL.8': 'OIL - September',
                         'GAS.9': 'GAS - October',
                         'OIL.9': 'OIL - October',
                         'GAS.10': 'GAS - November',
                         'OIL.10': 'OIL - November',
                         'GAS.11': 'GAS - December',
                         'OIL.11': 'OIL - December',
                         }, inplace=True)
                         
    #some entity id's have multiple entries.  I do not know 
    #why this is.  it appears like they might be the production
    #attributed to different owners. try summing the production
    #for now...
    prod_data = prod_data.groupby(by=['ENTITY_ID','YEAR']).sum()
    prod_data.reset_index(inplace=True)
    
    
    #add a year column (may remove this when we try summing over the entire frame)
    #prod_data.loc[:,'Year'] = year
    annual_production_data[year] = prod_data
    
    
    #now clean the formation string.  These tend to have 
    #extraneous whitespace
    def clean_formation_string(in_string):
        
        out_string = str(in_string).strip()
        return " ".join(out_string.split())
        
    #data["FORMATION"] = data["FORMATION"].astype(str) 
    data["FORMATION"] = data["FORMATION"].apply(clean_formation_string)
    data["WELL_NAME"] = data["WELL_NAME"].apply(clean_formation_string)
    data["OPERATOR"] = data["OPERATOR"].apply(clean_formation_string)
    data["PURCHASER"] = data["PURCHASER"].apply(clean_formation_string)
    annual_data[year] = data

Cleaning 1988 data...

/Users/bhall/Library/Enthought/Canopy_64bit/User/lib/python2.7/site-packages/ipykernel/__main__.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Cleaning 1989 data...
Cleaning 1990 data...
Cleaning 1991 data...
Cleaning 1992 data...
Cleaning 1993 data...
Cleaning 1995 data...
Cleaning 1996 data...
Cleaning 1997 data...
Cleaning 1998 data...
Cleaning 1999 data...
Cleaning 2000 data...
Cleaning 2001 data...
Cleaning 2002 data...
Cleaning 2003 data...
Cleaning 2004 data...
Cleaning 2005 data...
Cleaning 2006 data...
Cleaning 2007 data...
Cleaning 2008 data...
Cleaning 2009 data...
Cleaning 2010 data...
Cleaning 2011 data...
Cleaning 2012 data...
Cleaning 2013 data...
Cleaning 2014 data...
Cleaning 2015 data...

In [31]:
annual_production_data[2005]

,ENTITY_ID,YEAR,GAS - January,OIL - January,GAS - February,OIL - February,GAS - March,OIL - March,GAS - April,OIL - April,...,GAS - August,OIL - August,GAS - September,OIL - September,GAS - October,OIL - October,GAS - November,OIL - November,GAS - December,OIL - December
0,35003000010000,2005,1950.0,NaN,1589.0,NaN,1842.0,NaN,1724.0,NaN,...,1702.0,NaN,1484.0,NaN,1626.0,NaN,1730.0,NaN,1342.0,NaN
1,35003000250000,2005,85.0,NaN,74.0,NaN,80.0,NaN,69.0,NaN,...,81.0,NaN,57.0,NaN,113.0,NaN,80.0,NaN,75.0,NaN
2,35003000680000,2005,488.0,NaN,408.0,NaN,312.0,NaN,635.0,NaN,...,933.0,NaN,1006.0,NaN,1214.0,NaN,1136.0,NaN,815.0,NaN
3,35003000710000,2005,1301.0,NaN,1057.0,NaN,1874.0,NaN,1826.0,NaN,...,2089.0,NaN,2333.0,NaN,2354.0,NaN,1885.0,NaN,1086.0,NaN
4,35003000730000,2005,573.0,NaN,440.0,NaN,509.0,NaN,476.0,NaN,...,4336.0,NaN,1859.0,NaN,488.0,NaN,180.0,NaN,260.0,NaN
5,35003000960000,2005,0.0,NaN,0.0,NaN,682.0,NaN,823.0,NaN,...,595.0,NaN,194.0,NaN,86.0,NaN,626.0,NaN,786.0,NaN
6,35003001020000,2005,340.0,NaN,806.0,NaN,879.0,NaN,795.0,NaN,...,986.0,NaN,926.0,NaN,312.0,NaN,1184.0,NaN,431.0,NaN
7,35003001430000,2005,776.0,NaN,701.0,NaN,761.0,NaN,739.0,NaN,...,760.0,NaN,887.0,NaN,883.0,NaN,713.0,NaN,771.0,NaN
8,35003200020000,2005,815.0,NaN,738.0,NaN,840.0,NaN,831.0,NaN,...,856.0,NaN,720.0,NaN,831.0,NaN,817.0,NaN,826.0,NaN
9,35003200140000,2005,2401.0,NaN,2043.0,NaN,2301.0,NaN,2258.0,NaN,...,2207.0,NaN,2089.0,NaN,2185.0,NaN,2059.0,NaN,2272.0,NaN
10,35003200490000,2005,3226.0,NaN,1862.0,NaN,3445.0,NaN,3332.0,NaN,...,0.0,NaN,0.0,NaN,447.0,NaN,3832.0,NaN,3841.0,NaN
11,35003200580000,2005,0.0,NaN,0.0,NaN,470.0,NaN,726.0,NaN,...,691.0,NaN,737.0,NaN,641.0,NaN,554.0,NaN,557.0,NaN
12,35003200680000,2005,212.0,NaN,185.0,NaN,114.0,NaN,165.0,NaN,...,165.0,NaN,320.0,NaN,299.0,NaN,303.0,NaN,314.0,NaN
13,35003200830000,2005,15052.0,NaN,10649.0,NaN,8851.0,NaN,5307.0,NaN,...,7075.0,NaN,5955.0,NaN,6162.0,NaN,5435.0,NaN,4780.0,NaN
14,35003200990000,2005,859.0,NaN,708.0,NaN,452.0,NaN,854.0,NaN,...,785.0,NaN,853.0,NaN,793.0,NaN,528.0,NaN,779.0,NaN
15,35003201010000,2005,528.0,NaN,557.0,NaN,376.0,NaN,23.0,NaN,...,300.0,NaN,302.0,NaN,339.0,NaN,297.0,NaN,311.0,NaN
16,35003201040000,2005,1.0,NaN,1.0,NaN,1.0,NaN,0.0,NaN,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
17,35003201240000,2005,599.0,NaN,495.0,NaN,630.0,NaN,511.0,NaN,...,560.0,NaN,599.0,NaN,677.0,NaN,609.0,NaN,184.0,NaN
18,35003201270000,2005,0.0,NaN,0.0,NaN,325.0,NaN,589.0,NaN,...,355.0,NaN,72.0,NaN,454.0,NaN,374.0,NaN,195.0,NaN
19,35003201300000,2005,0.0,NaN,0.0,NaN,431.0,NaN,540.0,NaN,...,112.0,NaN,137.0,NaN,317.0,NaN,422.0,NaN,544.0,NaN
20,35003201340000,2005,0.0,NaN,110.0,NaN,71.0,NaN,90.0,NaN,...,63.0,NaN,46.0,NaN,54.0,NaN,20.0,NaN,87.0,NaN
21,35003201370000,2005,33.0,NaN,0.0,NaN,11.0,NaN,23.0,NaN,...,81.0,NaN,65.0,NaN,74.0,NaN,75.0,NaN,75.0,NaN
22,35003201410000,2005,1141.0,NaN,1045.0,NaN,1191.0,NaN,1159.0,NaN,...,1141.0,NaN,1127.0,NaN,1148.0,NaN,1058.0,NaN,997.0,NaN
23,35003201420000,2005,1554.0,NaN,933.0,NaN,849.0,NaN,652.0,NaN,...,587.0,NaN,563.0,NaN,592.0,NaN,566.0,NaN,594.0,NaN
24,35003201470000,2005,1141.0,NaN,1137.0,NaN,1306.0,NaN,1181.0,NaN,...,1307.0,NaN,1001.0,NaN,1199.0,NaN,1157.0,NaN,1057.0,NaN
25,35003201500000,2005,273.0,NaN,187.0,NaN,458.0,NaN,194.0,NaN,...,174.0,NaN,190.0,NaN,212.0,NaN,205.0,NaN,197.0,NaN
26,35003201560000,2005,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
27,35003201590000,2005,502.0,NaN,418.0,NaN,416.0,NaN,698.0,NaN,...,666.0,NaN,620.0,NaN,527.0,NaN,611.0,NaN,645.0,NaN
28,35003201630000,2005,812.0,NaN,877.0,NaN,790.0,NaN,717.0,NaN,...,955.0,NaN,962.0,NaN,1148.0,NaN,1019.0,NaN,1024.0,NaN
29,35003201640000,2005,1065.0,NaN,1152.0,NaN,1228.0,NaN,1055.0,NaN,...,1354.0,NaN,1378.0,NaN,1432.0,NaN,1376.0,NaN,1411.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35411,35153300470000,2005,8110.0,NaN,8013.0,NaN,6765.0,NaN,8008.0,NaN,...,8382.0,NaN,8037.0,NaN,7784.0,NaN,7027.0,NaN,7708.0,NaN
35412,35153300480000,2005,0.0,NaN,NaN,NaN,0.0,NaN,0.0,NaN,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
35413,35153300660000,2005,614.0,NaN,598.0,NaN,645.0,NaN,649.0,NaN,...,610.0,NaN,631.0,NaN,701.0,NaN,632.0,NaN,660.0,NaN
35414,35153300770000,2005,2839.0,NaN,3258.0,NaN,3285.0,NaN,3119.0,NaN,...,3024.0,NaN,2918.0,NaN,2487.0,NaN,2651.0,NaN,1613.0,NaN
35415,35153300840000,2005,347.0,NaN,338.0,NaN,175.0,NaN,366.0,NaN,...,357.0,NaN,376.0,NaN,220.0,NaN,214.0,NaN,127.0,NaN
35416,35153300860000,2005,1260.0,NaN,987.0,NaN,1182.0,NaN,882.0,NaN,...,1061.0,NaN,952.0,NaN,1234.0,NaN,982.0,NaN,666.0,NaN
35417,35153351590000,2005,2015.0,NaN,3050.0,NaN,3506.0,NaN,3384.0,NaN,...,2494.0,NaN,2220.0,NaN,3183.0,NaN,2745.0,NaN,3217.0,NaN
35418,35153351690000,2005,370.0,NaN,103.0,NaN,168.0,NaN,334.0,NaN,...,942.0,NaN,639.0,NaN,750.0,NaN,184.0,NaN,1134.0,NaN
35419,35153351740000,2005,630.0,NaN,1634.0,NaN,1984.0,NaN,1995.0,NaN,...,2244.0,NaN,2005.0,NaN,2079.0,NaN,2136.0,NaN,1867.0,NaN
35420,35153351820000,2005,140.0,NaN,140.0,NaN,154.0,NaN,149.0,NaN,...,149.0,NaN,149.0,NaN,150.0,NaN,149.0,NaN,154.0,NaN
35421,35153351990000,2005,867.0,NaN,720.0,NaN,733.0,NaN,788.0,NaN,...,710.0,NaN,731.0,NaN,750.0,NaN,761.0,NaN,742.0,NaN
35422,35153352010000,2005,2281.0,NaN,1470.0,NaN,1497.0,NaN,1423.0,NaN,...,1310.0,NaN,946.0,NaN,NaN,NaN,742.0,NaN,1284.0,NaN
35423,35153352050000,2005,1271.0,NaN,1851.0,NaN,2492.0,NaN,2791.0,NaN,...,1011.0,NaN,781.0,NaN,1040.0,NaN,1029.0,NaN,1020.0,NaN
35424,35153352060000,2005,1491.0,NaN,1610.0,NaN,1679.0,NaN,1621.0,NaN,...,1685.0,NaN,1579.0,NaN,1602.0,NaN,1570.0,NaN,1518.0,NaN
35425,35153352070000,2005,1282.0,NaN,1135.0,NaN,1398.0,NaN,1331.0,NaN,...,1287.0,NaN,1218.0,NaN,1242.0,NaN,1185.0,NaN,971.0,NaN
35426,35153352080000,2005,1553.0,NaN,1377.0,NaN,1623.0,NaN,1539.0,NaN,...,1529.0,NaN,1425.0,NaN,1339.0,NaN,1359.0,NaN,1451.0,NaN
35427,35153352150000,2005,1548.0,NaN,1640.0,NaN,1690.0,NaN,2127.0,NaN,...,542.0,NaN,830.0,NaN,1998.0,NaN,1139.0,NaN,NaN,NaN
35428,35153352180000,2005,3145.0,NaN,3305.0,NaN,3811.0,NaN,3836.0,NaN,...,3725.0,NaN,3956.0,NaN,3759.0,NaN,3601.0,NaN,2934.0,NaN
35429,35153352210000,2005,2323.0,NaN,2253.0,NaN,2933.0,NaN,2632.0,NaN,...,2300.0,NaN,2323.0,NaN,2607.0,NaN,2536.0,NaN,2415.0,NaN
35430,35153352790000,2005,340.0,NaN,347.0,NaN,362.0,NaN,310.0,NaN,...,321.0,NaN,264.0,NaN,233.0,NaN,209.0,NaN,224.0,NaN
35431,35153352800000,2005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5932.0,NaN,7094.0,NaN,6871.0,NaN,6646.0,NaN,6473.0,NaN
35432,35153352870000,2005,989.0,NaN,821.0,NaN,1312.0,NaN,1791.0,NaN,...,1345.0,NaN,1156.0,NaN,1309.0,NaN,1111.0,NaN,1065.0,NaN
35433,35153352880000,2005,1320.0,NaN,1079.0,NaN,1170.0,NaN,1085.0,NaN,...,1006.0,NaN,937.0,NaN,936.0,NaN,762.0,NaN,859.0,NaN
35434,35153352970000,2005,1202.0,NaN,1617.0,NaN,1437.0,NaN,1597.0,NaN,...,976.0,NaN,1631.0,NaN,1194.0,NaN,1300.0,NaN,1061.0,NaN
35435,35153353000000,2005,1634.0,NaN,1527.0,NaN,1695.0,NaN,1618.0,NaN,...,1709.0,NaN,1716.0,NaN,1771.0,NaN,1659.0,NaN,1666.0,NaN
35436,35153353080000,2005,81.0,NaN,145.0,NaN,1036.0,NaN,1311.0,NaN,...,2247.0,NaN,2424.0,NaN,2494.0,NaN,2309.0,NaN,2057.0,NaN
35437,35153353110000,2005,1067.0,NaN,903.0,NaN,883.0,NaN,928.0,NaN,...,838.0,NaN,793.0,NaN,859.0,NaN,774.0,NaN,832.0,NaN
35438,35153353120000,2005,13841.0,NaN,16551.0,NaN,17957.0,NaN,17157.0,NaN,...,16496.0,NaN,15632.0,NaN,16275.0,NaN,15225.0,NaN,13612.0,NaN
35439,35153353250000,2005,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
35440,35153500090000,2005,1103.0,NaN,1510.0,NaN,1333.0,NaN,1390.0,NaN,...,1466.0,NaN,880.0,NaN,967.0,NaN,858.0,NaN,1168.0,NaN

In [57]:
all_data = pd.concat(annual_data)
all_data

            ALLOWABLE_CLASS  ALLOWABLE_TYPE API_COUNTY API_NUMBER        APR  \
1988 1      UO               I                     003      20183          4
     2                                             003      20331          4
     3                                             003      20404          4
     4                                             003      20404          4
     5      UG               I                     003      20607          4
     6                                             003      21201          4
     7      UO               I                     003      21256          4
     8      AO               I                     003      21267          4
     9      AO               I                     003      21273          4
     10     AO               I                     003      21286          4
     11     UO               I                     003      21401          4
     12                                            003      21466          4
     13                                            003      30122          4
     14     UG               I                     007      00004          4
     15     UG               S                     007      00025          4
     16     UG               S                     007      00060          4
     17     UG               I                     007      00062          4
     18     UG               I                     007      00104          4
     19     UG               I                     007      00106          4
     20     UG               S                     007      00111          4
     21                                            007      00114          4
     22     UG               I                     007      00114          4
     23     UG               R                     007      00167          4
     24     UG               R                     007      00167          4
     25     UG               I                     007      00173          4
     26     UG               I                     007      00177          4
     27     UG               I                     007      00179          4
     28     UG               I                     007      00179          4
     29     UG               I                     007      00186          4
     30                                            007      00187          4
...                     ...             ...        ...        ...        ...
2015 41162              NaN             NaN        153      23527          4
     41163              NaN             NaN        153      23528          4
     41164              NaN             NaN        153      23532          4
     41165              NaN             NaN        153      23544          4
     41166              NaN             NaN        153      23547          4
     41167              NaN             NaN        153      23552          4
     41168              NaN             NaN        153      23567          4
     41169              NaN             NaN        153      30010          4
     41170              NaN             NaN        153      30013          4
     41171              NaN             NaN        153      30019          4
     41172              NaN             NaN        153      30020          4
     41173              NaN             NaN        153      30039          4
     41174              NaN             NaN        153      30066          4
     41175              NaN             NaN        153      30086          4
     41176              NaN             NaN        153      35159          4
     41177              NaN             NaN        153      35174          4
     41178              NaN             NaN        153      35182          4
     41179              NaN             NaN        153      35199          4
     41180              NaN             NaN        153      35207          4
     41181              NaN             NaN        153      35208          4
     41182              NaN             NaN        153      35215          4
     41183              NaN             NaN        153      35218          4
     41184              NaN             NaN        153      35221          4
     41185              NaN             NaN        153      35280          4
     41186              NaN             NaN        153      35287          4
     41187              NaN             NaN        153      35288          4
     41188              NaN             NaN        153      35297          4
     41189              NaN             NaN        153      35300          4
     41190              NaN             NaN        153      35312          4
     41191              NaN             NaN        153      50009          4

                  AUG      CODE        DEC       ENTITY_ID        FEB  \
1988 1              8  404OSWG          12  35003201830000          2
     2              8  000UNKN          12  35003203310000          2
     3              8  000UNKN          12  35003204040000          2
     4              8  000UNKN          12  35003204040000          2
     5              8  401MSSCT         12  35003206070000          2
     6              8  000UNKN          12  35003212010000          2
     7              8  404RDFKC         12  35003212560000          2
     8              8  354MNNG          12  35003212670000          2
     9              8  319MSNR          12  35003212730000          2
     10             8  319MSNR          12  35003212860000          2
     11             8  404RDFK          12  35003214010000          2
     12             8  000UNKN          12  35003214660000          2
     13             8  000UNKN          12  35003301220000          2
     14             8  402MWSD          12  35007000040000          2
     15             8  402MWCR          12  35007000250000          2
     16             8  402MRRW          12  35007000600000          2
     17             8  402MRRW          12  35007000620000          2
     18             8  402MRRW          12  35007001040000          2
     19             8  406TNKW          12  35007001060000          2
     20             8  402MRRW          12  35007001110000          2
     21             8  000UNKN          12  35007001140000          2
     22             8  999TWCR          12  35007001140000          2
     23             8  402MWCR          12  35007001670000          2
     24             8  402MWCR          12  35007001670000          2
     25             8  402MRRW          12  35007001730000          2
     26             8  406TNKW          12  35007001770000          2
     27             8  406HOVR          12  35007001790000          2
     28             8  406HOVR          12  35007001790000          2
     29             8  406HOVR          12  35007001860000          2
     30             8  000UNKN          12  35007001870000          2
...               ...       ...        ...             ...        ...
2015 41162          8   000VARS         12  35153235270000          2
     41163          8  999CRMCH         12  35153235280000          2
     41164          8   405CLVD         12  35153235320000          2
     41165          8   402MWSD         12  35153235440000          2
     41166          8   402MWSD         12  35153235470000          2
     41167          8   353MRMC         12  35153235520000          2
     41168          8  404CHRKS         12  35153235670000          2
     41169          8   999OGCR         12  35153300100000          2
     41170          8  999OGCRM         12  35153300130000          2
     41171          8   405CGGV         12  35153300190000          2
     41172          8   354CSTR         12  35153300200000          2
     41173          8   405LYTN         12  35153300390000          2
     41174          8   354CSTR         12  35153300660000          2
     41175          8   402MRRW         12  35153300860000          2
     41176          8   405CGGV         12  35153351590000          2
     41177          8   354CSTR         12  35153351740000          2
     41178          8   354CSTR         12  35153351820000          2
     41179          8   354CSTR         12  35153351990000          2
     41180          8   354CSTR         12  35153352070000          2
     41181          8   354CSTR         12  35153352080000          2
     41182          8   354CSTR         12  35153352150000          2
     41183          8   354CSTR         12  35153352180000          2
     41184          8   354CSTR         12  35153352210000          2
     41185          8   999MMCR         12  35153352800000          2
     41186          8   354CSTR         12  35153352870000          2
     41187          8   354CSTR         12  35153352880000          2
     41188          8   402MRRW         12  35153352970000          2
     41189          8   354CSTR         12  35153353000000          2
     41190          8   354CSTR         12  35153353120000          2
     41191          8   402MRRW         12  35153500090000          2

              ...        Q4  RAN    S    SECTION        SEP  SUFFIX  TWP  \
1988 1        ...        NE  12W  NaN         10          9          23N
     2        ...            11W  NaN         18          9          25N
     3        ...            12W  NaN         19          9          24N
     4        ...            12W  NaN         19          9          24N
     5        ...            12W  NaN          5          9          25N
     6        ...        W2  11W  NaN         35          9          28N
     7        ...            11W  NaN          2          9          27N
     8        ...            09W  NaN         32          9          24N
     9        ...            09W  NaN         14          9          27N
     10       ...            09W  NaN         14          9  A       27N
     11       ...            10W  NaN         21          9          28N
     12       ...            11W  NaN         10          9          25N
     13       ...            09W  NaN          8          9          23N
     14       ...            20E  NaN         16          9          06N
     15       ...            25E  NaN          8          9          05N
     16       ...            26E  NaN         29          9          05N
     17       ...            26E  NaN         31          9          05N
     18       ...            24E  NaN         23          9          06N
     19       ...            25E  NaN         14          9          03N
     20       ...            24E  NaN          8          9          02N
     21       ...            25E  NaN         17          9          03N
     22       ...            25E  NaN         17          9          03N
     23       ...            25E  NaN         11          9          04N
     24       ...            25E  NaN         11          9          04N
     25       ...            21E  NaN         12          9          01N
     26       ...            27E  NaN         18          9          02N
     27       ...            27E  NaN         34          9          04N
     28       ...            27E  NaN         34          9          04N
     29       ...            28E  NaN          6          9          03N
     30       ...            26E  NaN          6          9          03N
...           ...       ...  ...  ...        ...        ...     ...  ...
2015 41162    ...        SW  18W  NaN         21          9     NaN  23N
     41163    ...        SW  17W  NaN         24          9     NaN  23N
     41164    ...        SW  17W  NaN         24          9     NaN  23N
     41165    ...         C  19W  NaN         29          9     NaN  26N
     41166    ...        NE  20W  NaN          3          9     NaN  23N
     41167    ...        S2  21W  NaN         20          9     NaN  23N
     41168    ...       NaN  17W  NaN         23          9     NaN  21N
     41169    ...            17W  NaN         20          9     NaN  23N
     41170    ...       NaN  17W  NaN         13          9     NaN  22N
     41171    ...            17W  NaN         35          9     NaN  25N
     41172    ...            19W  NaN          1          9     NaN  24N
     41173    ...            17W  NaN         36          9     NaN  20N
     41174    ...            18W  NaN         11          9     NaN  23N
     41175    ...            22W  NaN          7          9     NaN  22N
     41176    ...            18W  NaN         13          9     NaN  23N
     41177    ...            17W  NaN         35          9     NaN  21N
     41178    ...            17W  NaN         24          9     NaN  22N
     41179    ...            18W  NaN         32          9     NaN  24N
     41180    ...            18W  NaN         21          9     NaN  24N
     41181    ...            18W  NaN         28          9     NaN  24N
     41182    ...            17W  NaN          1          9     NaN  20N
     41183    ...            17W  NaN          4          9     NaN  20N
     41184    ...            19W  NaN          3          9     NaN  26N
     41185    ...            17W  NaN         31          9     NaN  23N
     41186    ...            18W  NaN         14          9     NaN  23N
     41187    ...            18W  NaN         24          9     NaN  23N
     41188    ...            22W  NaN         30          9     NaN  23N
     41189    ...            18W  NaN          5          9     NaN  24N
     41190    ...            19W  NaN         25          9     NaN  24N
     41191    ...            22W  NaN          6          9     NaN  22N

                                 WELL_NAME  WELL_NO       YEAR
1988 1                            DAVIDSON   1            1988
     2                             MCCRADY   1            1988
     3                               SMITH   1            1988
     4                               SMITH   1            1988
     5                              LEAMON   1            1988
     6                              MEYERS   1-35         1988
     7                        WILSON FARMS   2-1          1988
     8                              DOWERS   2A           1988
     9      CHEROKITA MISENE(J.A.BURCHFIEL   2            1988
     10        C.M.U. (J.A.BURCHFIEL 14-4)   3            1988
     11                           HOLDERBY   1-21         1988
     12                            WEIGAND   2            1988
     13                       GOODWIN UNIT   1            1988
     14                               COBB   1            1988
     15                          E E EVANS   1            1988
     16                          MAY DIXON   2            1988
     17                            F BARBY   2            1988
     18                          R E ADAMS   8            1988
     19                        BARBY RANCH   1-4          1988
     20                   LONGCOR GAS UNIT   1            1988
     21                           FICKEL B   1            1988
     22                           FICKEL B   1            1988
     23                        LLOYD BARBY   2            1988
     24                        LLOYD BARBY   2            1988
     25                           BECHTOLD   1            1988
     26                        J R WOODSON   2            1988
     27                           SIZELOVE   2            1988
     28                           SIZELOVE   2            1988
     29               BARBY (BARBY UNIT#1)   1-6          1988
     30                        OVERTON, WJ   1            1988
...                                    ...      ...        ...
2015 41162                         CORINNE   1-21         2015
     41163               KUERSTEINER TRUST   1-24         2015
     41164                            JUDY    31-2H       2015
     41165                         SISTERS     29-2       2015
     41166                        WITHGOTT      3-2       2015
     41167                          COOPER    1-20H       2015
     41168                   SOUTHERN JAZZ     1-23       2015
     41169    SWAIN(FORMERLY SWAIN UNIT 1)   20-1         2015
     41170             HOLLOWAY (GARVIE 1)   13-4         2015
     41171                     CURTIS UNIT        1       2015
     41172                    BARANSY UNIT        1       2015
     41173              FARWELL ETHEL UNIT        1       2015
     41174                MORGAN-HORN UNIT        1       2015
     41175                          BEISEL      1-7       2015
     41176                     KATHRYN KEE        1       2015
     41177                      EZELL UNIT   1-35         2015
     41178               STATE OF OKLAHOMA     1-24       2015
     41179                  CARL E LINTNER        1       2015
     41180                       FEDERAL A        1       2015
     41181                         STATE K        1       2015
     41182                    ARLENE SHUCK   1            2015
     41183                        FOX UNIT        1       2015
     41184                       B A BROWN        1       2015
     41185                  ROBERTS UNIT-B        1       2015
     41186                      MAY MORGAN        1       2015
     41187                       KEE HEIRS        1       2015
     41188                      D.W.THOMAS        1       2015
     41189             HAZEL ROBINSON UNIT        1       2015
     41190                          LUDDEN        1       2015
     41191                        MOREHART      1-6       2015

[910220 rows x 68 columns]

## The Tidy Data

63884 wells in total.

In [58]:
temp = annual_data[1996]
temp[temp['ENTITY_ID'] == '35149201050000']

,API_COUNTY,API_NUMBER,SUFFIX,WELL_NAME,WELL_NO,OPER_NO,OPERATOR,ME,SECTION,TWP,...,OCT,OIL - October,GAS - October,NOV,OIL - November,GAS - November,DEC,OIL - December,GAS - December,ENTITY_ID
23974,149,20105,,HAGGARD,3-20,11187,BURLINGTON RES OIL & GAS LP,IM,20,10N,...,10,NaN,587.0,11,NaN,491.0,12,NaN,581.0,35149201050000
23975,149,20105,,HAGGARD,3-20,11187,BURLINGTON RES OIL & GAS LP,IM,20,10N,...,10,NaN,153475.0,11,NaN,141244.0,12,NaN,141627.0,35149201050000
23976,149,20105,,HAGGARD,3-20,11187,BURLINGTON RES OIL & GAS LP,IM,20,10N,...,10,NaN,1901.0,11,NaN,1987.0,12,NaN,1786.0,35149201050000
23977,149,20105,,HAGGARD,3-20,11187,BURLINGTON RES OIL & GAS LP,IM,20,10N,...,10,182.0,NaN,11,NaN,NaN,12,NaN,NaN,35149201050000

In [64]:
temp[temp['ENTITY_ID'] == '35149201050000']['PURCHASER']

23974      EL PASO NATURAL GAS CO
23975        ANR PIPELINE COMPANY
23976                 TRANSOK LLC
23977    MERIDIAN OIL TRADING INC
Name: PURCHASER, dtype: object

The are repeated entries for the same well that have different Purchasers.  What does this mean?